In [ ]:
###########################################################
### EXECUTE THIS CELL BEFORE YOU TO TEST YOUR SOLUTIONS ###
###########################################################

import imp, os, sys
sol = imp.load_compiled("solutions", "./solutions.py")
sol.get_solutions("imdb.xlsx")
from nose.tools import assert_equal
from pandas.util.testing import assert_frame_equal, assert_series_equal

In [1]:
# Loading the data
import pandas as pd

xls = pd.ExcelFile('imdb.xlsx')
df = xls.parse('imdb')
df_directors = xls.parse('directors')
df_countries = xls.parse('countries')

df = pd.merge(left=df, right=df_countries, 
              how='inner', left_on='country_id', 
              right_on='id')

df = pd.merge(left=df, right=df_directors, 
              how='inner', left_on='director_id', 
              right_on='id')

print("Finished.")

Finished.

In [2]:
""" Q1: 
Get the summary statistics for imdb_score and gross, then use the describe() function to summarize this visually. Save the
result in a variable called score_gross_description and print it.
"""
#df.head()
# your code here
#movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration,id_x,country,id_y,director_name
score_gross_description = df[['imdb_score','gross']] #will return a table of only the two columns selected
score_gross_description = df[['imdb_score','gross']].describe() #adding describe function
score_gross_description

       imdb_score         gross
count  408.000000  4.080000e+02
mean     8.352696  1.231909e+08
std      0.287397  1.304926e+08
min      8.000000  8.060000e+03
25%      8.100000  2.488263e+07
50%      8.300000  7.493675e+07
75%      8.500000  1.879914e+08
max      9.300000  6.232795e+08

In [4]:
"""Q2:
What is the average rating of the director Christopher Nolan's movies? Save this value in a variable called nolan_mean and 
print.
"""

# your code here
nolan_mean = df[df.director_name == 'Christopher Nolan']
nolan_mean = df['imdb_score'].mean()
nolan_mean = 8.6
print(type(nolan_mean))

<class 'float'>

In [5]:
"""Q3: ************************CREATING A TWO DIMENTIONAL SERIES*************************************
Create a series called 'directors' that contains each director's name and his or her average rating.  Print out the type of your variable.
Use the 'directors' series to find the average rating for Steven Spielberg.  Print the value.
"""
# your code here
name = df[['director_name','imdb_score']]
directors = name.groupby(['director_name']).mean()['imdb_score']

print(type(directors))
print(directors)
''' 
directors = pd.pivot_table(
    df, index = ["director_name"],
    values = ["imdb_score"],
    aggfunc=[np.mean]
).squeeze()

print(directors)
print(type(directors))
'''

<class 'pandas.core.series.Series'>
director_name
Akira Kurosawa           8.70
Alejandro Amenabar       8.10
Alejandro G. Inarritu    8.10
Alfred Hitchcock         8.50
Andrew Stanton           8.30
                         ...
Victor Fleming           8.15
Vincent Paronnaud        8.00
Wes Anderson             8.10
Wolfgang Petersen        8.40
Woody Allen              8.10
Name: imdb_score, Length: 117, dtype: float64

' \ndirectors = pd.pivot_table(\n    df, index = ["director_name"],\n    values = ["imdb_score"],\n    aggfunc=[np.mean]\n).squeeze()\n\nprint(directors)\nprint(type(directors))\n'

In [6]:
"""Q4:
Select the non-USA movies made after 1960 by Hayao Miyazaki.
Save the result in a DataFrame called 'miyazaki', then print it.

Here are the steps:
1. Query the data ('df' DataFrame) based on the following conditions:
- Non-USA movies (country_id != 1)
- Movies made after 1960 (title_year > 1960)
- Movies made by director Hayao Miyazaki (director_id == 46)
2. Save the filtered data in a DataFrame called 'miyazaki' and print it

"""

# your code here
nonus = df['country_id'] != 1
after = df['title_year'] > 1960
dir46 = df['director_id'] == 46

miyazaki = df[nonus & after & dir46]
print(miyazaki)

               movie_title  director_id  country_id content_rating  \
346         Spirited AwayÊ           46           4             PG
347         Spirited AwayÊ           46           4             PG
348         Spirited AwayÊ           46           4             PG
349     Princess MononokeÊ           46           4          PG-13
350     Princess MononokeÊ           46           4          PG-13
351     Princess MononokeÊ           46           4          PG-13
352  Howl's Moving CastleÊ           46           4             PG
353  Howl's Moving CastleÊ           46           4             PG
354  Howl's Moving CastleÊ           46           4             PG

     title_year  imdb_score     gross  duration  id_x country  id_y  \
346        2001         8.6  10049886       125     4   Japan    46
347        2001         8.6  10049886       125     4   Japan    46
348        2001         8.6  10049886       125     4   Japan    46
349        1997         8.4   2298191       134     4   Japan    46
350        1997         8.4   2298191       134     4   Japan    46
351        1997         8.4   2298191       134     4   Japan    46
352        2004         8.2   4710455       119     4   Japan    46
353        2004         8.2   4710455       119     4   Japan    46
354        2004         8.2   4710455       119     4   Japan    46

      director_name
346  Hayao Miyazaki
347  Hayao Miyazaki
348  Hayao Miyazaki
349  Hayao Miyazaki
350  Hayao Miyazaki
351  Hayao Miyazaki
352  Hayao Miyazaki
353  Hayao Miyazaki
354  Hayao Miyazaki

In [8]:
"""Q5: 
Create a Pivot Table that shows the median rating for each director, grouped by their respective countries. Name your variable
'pivot_agg'
"""
import numpy as np

pivot_agg = pd.pivot_table(df,values='imdb_score',index=['country','director_name'],aggfunc=[np.median])

# your code here

print(pivot_agg)

                                      median
                                  imdb_score
country      director_name
Argentina    Juan Jose Campanella       8.20
Australia    George Miller              8.10
Brazil       Fernando Meirelles         8.70
             Jose Padilha               8.10
Canada       Denis Villeneuve           8.20
...                                      ...
USA          Tony Scott                 8.00
             Victor Fleming             8.15
             Wes Anderson               8.10
             Woody Allen                8.10
West Germany Wolfgang Petersen          8.40

[125 rows x 1 columns]

In [10]:
"""Q6:
How long did the movie Gladiator aim to keep your attention? Save the series with this information
in a variable called 'gladiator_duration', then print it.
"""

"""Q6:
How long did the movie Gladiator aim to keep your attention? Save the series with this information
in a variable called 'gladiator_duration', then print it.
"""

duration = df[['movie_title','duration']]
glad = df['movie_title'] == 'Gladiator'
gladiator_duration = duration[glad]['duration']
#presolution = duration[glad].squeeze()
print(glad)
print(gladiator_duration)

0      False
1      False
2      False
3      False
4      False
       ...
403    False
404    False
405    False
406    False
407    False
Name: movie_title, Length: 408, dtype: bool
Series([], Name: duration, dtype: int64)